// Body
$brand-color: #0041FF;
$border-color: rgba(162, 162, 162, 0.2);
$title-color: #8E8E8E;
$white-background-color: #FFFFFF;
$card-border-color: #E7E7E7;
$black-color: #000311;
$dark-white-color: #A2A2A2;
$image-product-color: #F2F2F2;
$border-color: #C7C7C7;
$nav-background-color: #f8f9fa;
$white-border-color: #C7C7C7;

// Typography
$font-family: 'Montserrat', sans-serif;
$font-size-base: 14px;
$font-color: #3A3A3A;